{% macro kube_service(service) %}
<div class="shadow-md p-5 rounded-xl bg-slate-100 hover:bg-slate-50 transition duration-100 hover:shadow-lg hover:shadow-slate-400 shadow-slate-400">
    <h1 class="text-xl">{{ service.name }}</h1>
    {% if service.service_ports %}
    <ul>
    {% for port in service.service_ports %}
        <li>
            {% if port.name %} 
                {{ port.name }}:
            {% endif %}
            
            {{ port.port }}
            
            {%- if port.nodePort -%} 
                :{{ port.nodePort }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}